<!-- Navbar -->

{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li {% if '/' == request.path %}
                class="nav-item active mr-3"
                {% else %}
                class="nav-item mr-3"
                {% endif %}>
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li {% if 'courses' in request.path %}
                    class="nav-item active mr-3"
                    {% else %}
                    class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'courses' %}">Courses</a>
            </li>
            <li {% if 'it_and_tech' in request.path %}
                    class="nav-item active mr-3"
                    {% else %}
                    class="nav-item mr-3"
                    {% endif %}>
                    <a class="nav-link" href="{% url 'it_and_tech' %}">IT & Tech</a>
            </li>
            <li {% if 'others' in request.path %}
                class="nav-item active mr-3"
                {% else %}
                class="nav-item mr-3"
                {% endif %}>
                <a class="nav-link" href="{% url 'others' %}">Others</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt form-control form-control-sm mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
                        <i class="icon"><i class="fas fa-search"></i></i>
                    </div>
                </div>
          </form>
        </div>
      </nav>